.footerContainer{
    /* width: 100%; */
    background: linear-gradient(90deg, rgb(35, 42, 107) 10%, rgb(97, 108, 187) 100%) !important;
    height: 10vh;
    border-top: 1px solid white !important;
}
.footerContainer p{
    margin: 0;
    color: #f4f4f4;
    float: right;
    font-weight: 100;
    margin: 22px;
}